.color-primary {
    color: #030712;
}

.color-third-3 {
    color: #72747b;
}

.color-third-2 {
    color: #A1A2A7;
}

.color-third-1 {
    color: #D0D1D3;
}

.color-secondary {
    border-color: #FFFFFF;
}

.border-color-primary {
    border-color: #030712;
}

.border-color-third-3 {
    border-color: #72747b;
}

.border-color-third-2 {
    border-color: #A1A2A7;
}

.border-color-third-1 {
    border-color: #D0D1D3;
}

.border-color-secondary {
    border-color: #FFFFFF;
}