.primary-color {
  color: #F4D7BC;
}

.bg-primary {
  background-color: #F4D7BC;
}

.secondary-color {
  color: #CAAE99;
}

.bg-secondary {
  background-color: #CAAE99;
}

* {
  font-family: 'Work Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #CAAE99;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bd9b81;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b28a6c;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.w-20 {
  width: 20%;
}