---
import Skill from "../../../components/Skill.astro";
import {
    adaptabilitySvg,
    analysisSvg,
    teamWorkSvg,
    initiativeSvg,
} from "../../../assets";
---

<div class="flex flex-col justify-start items-start gap-2">
    <h2 class="w-full text-2xl text-center text-white">Blandas</h2>
    <hr class="w-full hidden md:block border-white opacity-10 text-center" />
    <div class="flex flex-wrap justify-center items-center gap-2">
        <Skill
            show
            name="Adaptabilidad"
            source={adaptabilitySvg}
            sourceClass="w-28"
        />
        <Skill show name="Análisis y Retrospectiva" source={analysisSvg} sourceClass="w-28" />
        <Skill
            show
            name="Trabajo en equipo"
            source={teamWorkSvg}
            sourceClass="w-28"
        />
        <Skill
            show
            name="Iniciativa"
            source={initiativeSvg}
            sourceClass="w-28"
        />
    </div>
</div>
