---
import ExperienceCard from "../../components/ExperienceCard.astro";
---

<section class="flex flex-col my-10 gap-5">
    <h1 class="text-white text-4xl text-center md:text-left">Experience</h1>
    <hr class="border-white opacity-25 text-center" />
    <div>
        <ExperienceCard
            title="eAgora - Algoritmo del Cambio"
            bussisnessLink="https://www.eagora.app/"
            body="Prácticas de Ciclo Formativo de Grado Superior"
            duration="3 months"
        />
        <hr class="border-white opacity-10 mt-4 text-center" />
    </div>
    <div>
        <ExperienceCard
            title="Experience 2"
            body="lorem impsum"
            duration="3 months"
        />
        <hr class="border-white opacity-10 mt-4 text-center" />
    </div>
    <div>
        <ExperienceCard
            title="Experience 3"
            body="lorem impsum"
            duration="3 months"
        />
    </div>
</section>
