---
import ExperienceCard from "../../components/ExperienceCard.astro";
---

<section class="min-h-screen flex flex-col my-10 gap-5">
    <ExperienceCard
        title="eAgora"
        bussisnessLink="https://www.eagora.app/"
        body="Prácticas de Ciclo Formativo de Grado Superior"
        duration="3 months"
    />
    <ExperienceCard 
        title="Experience 2"
        body="lorem impsum"
        duration="3 months"
    />
    <ExperienceCard 
        title="Experience 3"
        body="lorem impsum"
        duration="3 months"
    />
</section>
