---
import ExperienceCard from "../../components/ExperienceCard.astro";

const calculateYears = (date: string) => {
    var today = new Date();
    var startDate = new Date(date);
    var years = today.getFullYear() - startDate.getFullYear();
    var m = today.getMonth() - startDate.getMonth();

    if (m < 0 || (m === 0 && today.getDate() < startDate.getDate())) {
        years--;
    }

    return years;
};
---

<section class="flex flex-col my-10 gap-5">
    <h1 class="text-white text-4xl text-center md:text-left">Experiencia</h1>
    <hr class="border-white opacity-25 text-center" />
    <div>
        <ExperienceCard
            title="FullStack | eAgora - Algoritmo del Cambio"
            bussisnessLink="https://www.eagora.app/"
            duration="3 meses"
        >
            <p class="text-white opacity-90 text-left">
                Mi experiencia en eAgora es la culminación de mis primeros años
                de formación profesional.
            </p>
            <p class="text-white opacity-90 text-left">
                He desarrollado tareas como desarrollador FullStack, formando
                parte de un equipo diverso y dinámico, que trabaja para el
                desarrollo de herramientas innovadoras puestas al servicio de la
                sociedad.
            </p>
        </ExperienceCard>
        <hr class="border-white opacity-10 mt-4 text-center" />
    </div>
    <div>
        <ExperienceCard
            title="Coordinador de Equipos y Monitor | Cerebritos"
            duration={`+${calculateYears("2017/10/21")} años`}
        >
            <p class="text-left text-white opacity-90">
                Colaborando con la asociación de inteligencias múltiples
                Cerebritos desde los 14 años. He hecho de monitor en múltiples
                actividades con niños y jóvenes relacionados con las
                inteligencias y tecnologías cómo la robótica.
            </p>
            <ol>
                <li class="text-white text-left opacity-90">
                    - Co-diseño, organización y ejecución de talleres vinculados
                    a las inteligencias múltiples y a las nuevas tecnologías.
                </li>
                <li class="text-white text-left opacity-90">
                    - Coordinador de equipos.
                </li>
                <li class="text-white text-left opacity-90">
                    - Monitor en la Tenerife GG.
                </li>
                <li class="text-white text-left opacity-90">
                    - Monitor en el Foro Gamer de los Realejos.
                </li>
            </ol>
        </ExperienceCard>
        <hr class="border-white opacity-10 mt-4 text-center" />
    </div>
</section>
