---
interface Props {
    target: string;
    href: string;
    class: string;
}

const { href, target, class: className } = Astro.props;
---

<a
    class=`p-2 rounded-xl flex justify-content-center align-items-center gap-2 ${className} expand`
    href={href}
    target={target}
>
    <slot name="start" />
    <slot />
    <slot name="end" />
</a>

<style>

    .expand {
        transition: transform 0.3s ease-out;
    }

    .expand:hover {
        transform: scale(105%);
    }
</style>
