---
import ButtonLink from "./ButtonLink.astro";

interface Props {
    href: string;
    target: string;
    class: string;
}

const { href, target, class: className } = Astro.props;
---

<div class="col-12 col-md-5">
    <ButtonLink href={href} target={target} class={className}>
        <slot name="icon"></slot>
        <slot></slot>
    </ButtonLink>
</div>
