---
interface Props {
    name?: string;
    source: any;
    show?: boolean;
}

const { name, source, show } = Astro.props;
---

<div class="flex flex-col justify-center items-center gap-1" title={name}>
    <img src={source.src} class="w-20" />
    {show ? <span class="text-white">{name}</span> : ""}
</div>
