---
import Links from "./Links.astro";
---

<section class="mt-20 md:mt-0">
    <div class="row min-h-screen align-items-center">
        <div
            class="col-12 col-md-4 d-flex justify-content-center align-items-center"
        >
            <img
                src="/logo.png"
                alt="Logo de Tomhuel"
                class="rounded-full border border-black"
            />
        </div>
        <div class="col-12 col-md-8 p-5">
            <div class="flex flex-col gap-2">
                <div>
                    <h1
                        class="text-6xl font-semibold md:text-left text-white text-center"
                    >
                        Tomhuel
                    </h1>
                    <h2 class="text-4xl md:text-left text-white text-center">
                        Desarrollador Web FullStack
                    </h2>
                    <p class="text-xl md:text-left text-white text-center">
                        ¡Hola! Me llamo Tomás Nahuel Antela Rizzo, soy un joven desarrollador de 20 años que vive en Canarias. Me gusta desarrollar aplicaciones y servicios web y tengo mucho interés en aprender sobre CI/CD y arquitectura de software.
                    </p>
                </div>
                <Links class="my-2" />
            </div>
        </div>
    </div>
</section>

<style>
    .fixed-image {
        width: 20rem;
        min-width: 18rem;
        height: auto;
    }
</style>
