---
import "bootstrap/dist/css/bootstrap-grid.min.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="description"
			content="Soy desarrollador Web Fullstack, me gusta desarrollar aplicaciones y servicios web y tengo mucho interés en aprender sobre CI/CD y arquitectura de software."
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.jpg" />
		<link rel="stylesheet" type="text/css" href="/index.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=MEASUREMENT_ID"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-X78FT12E27");
		</script>
	</head>
	<body class="body-bg">
		<main class="container-fluid">
			<div class="row">
				<div class="col-0 col-md-1 col-xxl-3"></div>
				<div class="col-12 col-md-10 col-xxl-6">
					<slot />
				</div>
				<div class="col-0 col-md-1 col-xxl-3"></div>
			</div>
		</main>
	</body>
</html>

<style is:global>
	.bg-beige {
		background-color: #f4d7bc;
	}

	.bg-second-beige {
		background-color: #f2c435;
	}

	.bg-light-orange {
		background-color: #f2ad35;
	}

	.bg-orange {
		background-color: #f27035;
	}

	.bg-yellow {
	}

	.beige {
		color: #f4d7bc;
	}

	.second-beige {
		color: #f2c435;
	}

	.light-orange {
		color: #f2ad35;
	}

	.orange {
		color: #f27035;
	}

	.yellow {
		color: #f2db35;
	}

	.border-beige {
		border-color: #f4d7bc;
	}

	.border-second-beige {
		border-color: #f2c435;
	}

	.border-light-orange {
		border-color: #f2ad35;
	}

	.border-orange {
		border-color: #f27035;
	}

	.border-yellow {
		border-color: #f2db35;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: rgb(3, 7, 18);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(43, 47, 58);
		border-radius: 0.3rem;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(33, 37, 48);
	}

	.body-bg {
		--s: 80px; /* control the size */
		--c: #050b1b;

		--_g: #0000 calc(-650% / 13) calc(50% / 13), var(--c) 0 calc(100% / 13),
			#0000 0 calc(150% / 13), var(--c) 0 calc(200% / 13),
			#0000 0 calc(250% / 13), var(--c) 0 calc(300% / 13);
		--_g0: repeating-linear-gradient(45deg, var(--_g));
		--_g1: repeating-linear-gradient(-45deg, var(--_g));
		background:
			var(--_g0),
			var(--_g0) var(--s) var(--s),
			var(--_g1),
			var(--_g1) var(--s) var(--s) #03060f;
		background-size: calc(2 * var(--s)) calc(2 * var(--s));
	}
</style>
