---
import "bootstrap/dist/css/bootstrap-grid.min.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-950">
		<main class="container-fluid">
			<div class="row">
				<div class="col-0 col-md-1 col-xxl-3"></div>
				<div class="col-12 col-md-10 col-xxl-6">
					<slot />
				</div>
				<div class="col-0 col-md-1 col-xxl-3"></div>
			</div>
		</main>
	</body>
</html>

<style is:global>
	.bg-beige {
		background-color: #f4d7bc;
	}

	.bg-second-beige {
		background-color: #f2c435;
	}

	.bg-light-orange {
		background-color: #f2ad35;
	}

	.bg-orange {
		background-color: #f27035;
	}

	.bg-yellow {
	}

	.beige {
		color: #f4d7bc;
	}

	.second-beige {
		color: #f2c435;
	}

	.light-orange {
		color: #f2ad35;
	}

	.orange {
		color: #f27035;
	}

	.yellow {
		color: #f2db35;
	}

	.border-beige {
		border-color: #f4d7bc;
	}

	.border-second-beige {
		border-color: #f2c435;
	}

	.border-light-orange {
		border-color: #f2ad35;
	}

	.border-orange {
		border-color: #f27035;
	}

	.border-yellow {
		border-color: #f2db35;
	}

	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: rgb(3, 7, 18);
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: rgb(43, 47, 58);
		border-radius: 0.3rem;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: rgb(33, 37, 48);
	}
</style>
