---
import "bootstrap/dist/css/bootstrap-grid.min.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-950">
		<main class="container-fluid">
			<div class="row">
				<div class="col-0 col-md-1 col-xxl-3"></div>
				<div class="col-12 col-md-10 col-xxl-6">
					<slot />
				</div>
				<div class="col-0 col-md-1 col-xxl-3"></div>
			</div>
		</main>
	</body>
</html>

<style is:global>
	.bg-beige {
		background-color: #f4d7bc;
	}

	.bg-under-beige {
		background-color: #caae99;
	}

	.beige {
		color: #f4d7bc;
	}

	.under-beige {
		color: #caae99;
	}

	.bg-strong-beige {
		background-color: #e4b581;
	}

	.strong-beige {
		color: #e4b581;
	}

	.border-beige {
		border-color: #f4d7bc;
	}

	.border-under-beige {
		border-color: #caae99;
	}

	.border-strong-beige {
		border-color: #e4b581;
	}
</style>
