---
import TechSkills from "./Tech/TechSkills.astro";
import SoftSkills from "./Soft/SoftSkills.astro";
---

<section class="my-10 flex flex-col gap-2">
    <h1 class="text-center text-white text-4xl">Skills</h1>
    <hr class="border-white opacity-25" />
    <div class="row">
        <div class="col-12 col-md-6">
            <SoftSkills />
        </div>
        <div class="col-12 col-md-6">
            <TechSkills />
        </div>
    </div>
</section>
